.hero-slider {
    position: relative;
    margin-top: 78px;
    max-width: 100%;
    overflow: hidden;
  }
  
  .swiper-hero-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-hero-slide {
    background-size: cover;
    background-position: center;
  }
  
  .hero-slide-content {
    display: block;
    align-content: center;
    color: #fff;
    background-repeat: no-repeat;
    width: 1100px;
    height: 861px;
    margin: 0 auto;
    background-size: cover; /* Настройка размера фона */
    background-position: center;
  }
  
  .hero-slide-text {
    position: absolute;
    left: 255px;
    top: 597px;
  }
  
  .hero-slide-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #231F20;
  }
  
  .hero-slide-content p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #808080;
  }
  
  .hero-slide-button {
    display: inline-block;
    padding: 15px 30px;
    background: #42ABDE;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Стили для навигационных стрелок */
  .hero-swiper-navigation {
    display: flex;
    position: absolute;
    top: 674px;
    right: 255px;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  /* Анимация для автоматического рисования линии */
  @keyframes draw-circle {
    0% {
      stroke-dashoffset: 185; /* Линия скрыта в начале */
    }
    100% {
      stroke-dashoffset: 0; /* Линия полностью рисуется */
    }
  }
  
  .hero-swiper-button {
    background-color: transparent;
    padding: 10px; 
    cursor: pointer;
  }
  
  .hero-swiper-button svg {
    transition: background 0.3s ease, stroke 0.3s ease;
  }
  
  /* Применение анимации к circle в SVG */
  .hero-swiper-button svg circle {
    stroke: #DDDDDD;
    stroke-width: 1.5;
    transform-origin: 50% 50%;
    stroke-dasharray: 186; /* Общая длина круга (примерное значение для круга 60px) */
    stroke-dashoffset: 186; /* Начинаем с полной длины (сделать круг пустым) */
  }
  
  .hero-swiper-button-next svg circle {
    stroke: #42ABDE;
    transform: rotate(-90deg);
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: draw-circle 3s linear infinite ; /* Автоматическая анимация */
  }
  
  .hero-swiper-button-prev svg circle {
    stroke: #42ABDE;
    transform: rotate(90deg);
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: draw-circle 3s linear infinite; /* Автоматическая анимация */
  }
  
  .hero-swiper-button:hover circle {
    fill: #42ABDE; /* Изменение цвета круга при наведении */
  }
  
  .hero-swiper-button:hover path {
    stroke: #fff; /* Изменение цвета стрелок при наведении */
  }
  
  .hero-background__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    opacity: 0.1;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .hero-background__text span {
    font-size: 197px;
    display: inline-block;
    padding: 0 50px;
  }
  
  /* Desktop стили */
  @media screen and (max-width: 1366px) {
    .hero-slider {
      margin-top: 45px;
    }
    .hero-slide-content {
      width: 768px;
      height: 705px;
    }
    .hero-slide-text {
      left: 63px;
      top: 470px;
    }
    .hero-swiper-navigation {
      top: 603px;
      right: 63px;
    }
    .hero-background__text span {
      font-size: 140px;
    }
  
    /* Tablet стили */
  @media screen and (max-width: 768px) {
    .hero-slider {
      margin-top: 0;
    }
    .hero-slide-content {
      margin-bottom: 200px;
    }
    .hero-slide-text {
      left: 62px;
      top: 721px;
    }
    .hero-swiper-navigation {
      top: 861px;
    }
  }
       /* Mobile стили */
  @media screen and (max-width: 428px) {
    .hero-slider {
      margin-top: 45px;
    }
    .hero-slide-content {
      margin-top: 32px;
      width: 428px;
      height: 548px;
    }
    .hero-slide-text {
      left: 22px;
      top: 600px;
    }
    .hero-swiper-navigation {
      top: 743px;
      left: 230px;
    }
    .hero-background__text span {
      font-size: 90px;
    }
  }