/* assets/custom-style.css */
/* Стили для хедера */
.header-wrapper {
  display: grid;
  grid-template-rows: auto; /* Одна строка */
  grid-template-areas: "logo menu button"; /* Стандартное расположение */
  align-items: center;
  padding: 20px;
  background-color: #fff;
  justify-content: space-around;
}

/* Области для разных позиций логотипа */
.header--left .header-wrapper {
  grid-template-areas: "logo menu button";
}

.header--top-left .header-wrapper {
  grid-template-areas: 
  "logo logo"
  "menu button"; /* Меню и кнопка занимают вторую строку */
justify-content: space-between; /* Кнопка прижимается к правому краю */
}

.header--right .header-wrapper {
  grid-template-areas: "button menu logo"; /* Меню и кнопка меняются местами */
  justify-content: space-around; /* Равномерное распределение */
}

.header__logo {
  grid-area: logo; /* Область логотипа */
}

.header__logo img {
  width: 173px;                    /* Ширина логотипа */
  height: 40px;                    /* Высота логотипа */
}

.header__burger {
  display: none;
  grid-area: burger;
  cursor: pointer;
  font-size: 28px;
  color: #42ABDE;
}

.header__menu {
  grid-area: menu;
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-left: -10px;
  gap: 20px;
}

.header__menu-item {
  text-decoration: none;           /* Убираем подчеркивание ссылок */
  color: #808080;                  /* Цвет текста */
  font-family: 'Karla', sans-serif; /* Шрифт Karla */
  font-size: 15px;                 /* Размер текста */
  font-weight: 400;                /* Толщина шрифта */
  line-height: 24px;               /* Межстрочный интервал */
  padding: 5px 10px;               /* Внутренние отступы для элементов меню */
}

.header__menu-item:hover {
  color: #42ABDE;             /* Цвет фона при наведении */
  border-radius: 5px;              /* Скругленные углы */
}

.header__mobile-menu {
  display: none;
}

.header__button {
  grid-area: button;
  justify-self: end;
  width: 152px;
  height: 49px;
  background-color: #42ABDE;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

/* Таблет стили */
@media screen and (max-width: 768px) {
  .header--left .header-wrapper, .header--top-left .header-wrapper, .header--right .header-wrapper {
    grid-template-areas: "logo burger";
    grid-template-rows: auto;
    justify-content: space-between;
    margin-left: 42px;
    margin-right: 42px;
  }

  .header__logo img {
    width: 152px;                    /* Ширина логотипа */
    height: 35px;                    /* Высота логотипа */
  }

  .header__button {
    display: none;
  }
  
  .header__close-button {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 0;
    cursor: pointer;
    font-size: 32px; /* Размер значка закрытия */
    color: #000;
  }
  
  .header__menu {
    display: none;
  }
  
  .header__burger {
    display: block;
  }

  .header__mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 20px;
  }

/* Стили для активного состояния мобильного меню */
.header__mobile-menu.show {
  display: contents;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
  .header__mobile-menu > div:first-child {
    align-self: flex-end; /* Иконка закрытия справа */
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 24px;
  }

  .header__mobile-menu .mobile-nav .header__menu-item {
    display: flex;
    justify-content: center; /* Центрирование текста меню */
    align-items: center; /* Центрирование по вертикали */
    padding: 15px 0;
    text-align: center;
    font-size: 28px;
    color: #333;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    border: 1px solid #f0f0f0; /* Разделитель между элементами */
    position: relative; /* Для позиционирования номеров */
    width: 100%; /* Полная ширина */
    padding: 30px 0 60px 0; /* Убираем отступы */
  }
  
  .header__mobile-menu .mobile-nav {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ширина контейнера мобильного меню */
    text-align: center;
    margin-top: 30px;
  }
  
  .header__mobile-menu .mobile-nav .header__menu-item .menu-item-index {
    position: absolute;
    left: 62px; /* Фиксированное расстояние слева */
    top: 34px; /* Сдвиг вверх на 3 пикселя */
    font-size: 16px;
    color: #808080; /* Цвет для номеров */
  }

  .header__mobile-menu .mobile-nav .header__menu-item:hover {
    color: #42ABDE; /* Цвет текста при наведении */
}

  .header__menu-item {
    margin-right: 50%;
}
  .header__close-button {
    color: #42ABDE;
    font-size: 26px;
}

  /* Стили для кнопки в мобильном меню */
/* Кнопка в мобильном меню */
.header__mobile-menu .header__button {
  display: block;
  height: 49px;
  background-color: #42ABDE;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 49px;
  border-radius: 25px;
  position: absolute;
  top: 41px;
  bottom: 41px;
  left: 62px;
  right: 62px;
  cursor: pointer;
  position: relative;
  min-width: 80%;
  max-width: 644px;
}
}

/* Мобильные стили */
@media screen and (max-width: 428px) {
  .header--left .header-wrapper, .header--top-left .header-wrapper, .header--right .header-wrapper {
    grid-template-areas: "logo burger";
    grid-template-rows: auto;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 2px;
  }

  .header__mobile-menu .header__button {
    left: 22px;
    right: 22px;
    cursor: pointer;
    padding: 0;
  }
  
  .shopify header__mobile-menu .mobile-nav .header__menu-item {
    padding: 23px 0 46px 0; /* Убираем отступы */
  }
  .header__mobile-menu .mobile-nav .header__menu-item .menu-item-index {
    position: absolute;
    left: 22px;
    top: 18px;
    font-size: 16px;
    color: #808080;
  }
}

