/* Общие стили для контейнера меню */
.header-wrapper {
    display: flex;                   /* Flexbox для горизонтального выравнивания */
    justify-content: space-between;  /* Пространство между элементами */
    align-items: center;             /* Центрирование по вертикали */
    padding: 10px 20px;              /* Внутренние отступы для хедера */
  }
  
  /* Стили для навигационного меню */
  .navmenu {
    display: flex;                   /* Flexbox для горизонтальной раскладки */
    justify-content: center;         /* Центрирование меню по горизонтали */
    align-items: center;             /* Центрирование элементов по вертикали */
    gap: 20px;                       /* Промежуток между элементами меню */
    margin: 0 auto;                  /* Центрирование по горизонтали */
    background: #808080;             /* Фон меню */
    padding: 10px 15px;              /* Внутренние отступы для меню */
    border-radius: 5px;              /* Скругленные углы */
  }
  
  /* Стили текста для элементов меню */
  .navmenu a {
    font-family: 'Karla', sans-serif; /* Шрифт Karla */
    font-size: 15px;                  /* Размер текста */
    font-weight: 400;                 /* Толщина шрифта */
    line-height: 24px;                /* Межстрочный интервал */
    text-align: left;                 /* Выравнивание текста по левому краю */
    color: #808080;                   /* Цвет текста */
    text-decoration: none;            /* Убираем подчеркивание */
    padding: 5px 10px;                /* Внутренние отступы */
    /* transition: background 0.3s ease; Анимация изменения фона */
  }
  
  /* Стиль при наведении */
  .navmenu a:hover {
    background: #42ABDE; /* Цвет фона при наведении */
    border-radius: 5px;  /* Скругленные углы при наведении */
  }
  